:root {
    /* https://tinyclouds.org/ */
    --main-light-color: #ffffff;
    --main-dark-color: #111111;
    --main-link-color: #0969da;
}

body {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    background-color: var(--main-light-color);
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: var(--main-dark-color);
    padding: 0 10px
}

h1,
h2,
h3 {
    line-height: 1.2
}

.ginkgo {
    width: 100%;
}

.highlight {
    overflow: auto;
    background: var(--main-light-color);
    padding: 3px;
    border-radius: 3px;
}

blockquote {
    margin: 0;
    text-align: center;

}

blockquote p {
    padding: 3px;
    background: var(--main-light-color);
    border-radius: 3px;
}

blockquote p::before {
    content: '\201C';
}

blockquote p::after {
    content: '\201D';
}

figcaption {
    /* background-color: #222; */
    color: var(--main-dark-color);
    font: smaller sans-serif;
    padding: 3px;
    text-align: center;
}

.cite {
    font: italic sans-serif;
}

.head {
    font-size: 14px;
    text-align: center;
}

.month {
    text-align: "center";
}

.numbers {
    font-size: 25px;
}

.day {
    font-size: 75%;
}

a,
a:visited {
    color:
        var(--main-link-color);
}
