<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link href="/static/ginkgo.png" rel="icon" type="image/png" />
    <title>
        {{ title }}
    </title>
    <link href="/static/styles.css" rel="stylesheet" />

    <!-- START PREVIEW -->
    <!-- Open Graph -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://yrom1.ca/">
    <meta property="og:title" content="Ryan Moore">
    <meta property="og:description" content="Personal dashboard">
    <meta property="og:image" itemprop="image"
        content="https://raw.githubusercontent.com/yrom1/opengraph-preview/main/preview.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://yrom1.ca/">
    <meta property="twitter:title" content="Ryan Moore">
    <meta property="twitter:description" content="Personal dashboard">
    <meta property="twitter:image" content="https://raw.githubusercontent.com/yrom1/opengraph-preview/main/preview.png">
    <!-- END PREVIEW -->
    {{ head }}
    <script src='https://cdn.plot.ly/plotly-2.14.0.min.js'></script>
</head>

<body>
    <!-- <div>
        <button id="theme-button">light</button>
    </div> -->
    <header class="head">
        <img alt="credit: Jean-Pol GRANDMONT" class="ginkgo" src="/static/trees.jpg" />
        <h1>Ryan Moore</h1>
        <h2>
            <a href="{{ url_for('about') }}">about me</a>
            |
            <a href="{{ url_for('dashboard') }}">dashboard</a>
            |
            <a href="{{ url_for('mypandas') }}">mypandas</a>
            |
            <a href="{{ url_for('ty') }}">ty</a>
            |
            <a href="{{ url_for('exlog') }}">exlog</a>
            |
            <a href="{{ url_for('postgrespy') }}">postgrespy</a>
            |
            <a href="{{ url_for('fun') }}">fun</a>
        </h2>
        <hr />
    </header>

    {{ content }}

    <script>
        let HEIGHT = 300;

        var bodyStyles = document.body.style;
        // so changes in .css file propogate
        // let THEME_BUTTON = document.getElementById("theme-button");
        // let LIGHT_COLOR = window.getComputedStyle(THEME_BUTTON)['color'];
        // let DARK_COLOR = window.getComputedStyle(THEME_BUTTON)['background-color'];
        let LIGHT_COLOR = "#fff";
        let DARK_COLOR = "#111";
        let LIGHT_LINK_COLOR = "#58a6ff";
        let DARK_LINK_COLOR = "#0969da";

        function setLightTheme() {
            var bodyStyles = document.body.style;
            bodyStyles.setProperty('--main-background-color', LIGHT_COLOR);
            bodyStyles.setProperty('--main-text-color', DARK_COLOR);
            bodyStyles.setProperty('--main-link-color', DARK_LINK_COLOR);
            // let theme_button = document.getElementById("theme-button");
            // theme_button.innerHTML = 'light';
        }
        function setDarkTheme() {
            var bodyStyles = document.body.style;
            bodyStyles.setProperty('--main-background-color', DARK_COLOR);
            bodyStyles.setProperty('--main-text-color', LIGHT_COLOR);
            bodyStyles.setProperty('--main-link-color', LIGHT_LINK_COLOR);
            // let theme_button = document.getElementById("theme-button");
            // theme_button.innerHTML = 'dark';
        }


        if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
            setDarkTheme();
        } else {
            setLightTheme();
        }
        // let theme_button = document.getElementById("theme-button");
        // theme_button.addEventListener("click", flipTheme);
        // function flipTheme() {
        //     let theme = document.getElementById("theme-button").innerHTML;
        //     if (theme == 'light') {
        //         setDarkTheme()
        //         console.log(document.getElementById('theme-button').innerHTML)
        //     } else {
        //         setLightTheme()
        //         console.log(document.getElementById('theme-button').innerHTML)
        //     }
        // }
        // TODO DRY

        // strava plot
        (async function () {
            let [BACKGROUND, TEXT, LINK] = ["", "", ""];
            if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                // dark theme
                [BACKGROUND, TEXT, LINK] = [DARK_COLOR, LIGHT_COLOR, LIGHT_LINK_COLOR];
            } else {
                // light theme
                [BACKGROUND, TEXT, LINK] = [LIGHT_COLOR, DARK_COLOR, DARK_LINK_COLOR];
            }
            var trace1 = {
                type: 'bar',
                marker: {
                    color: LINK,
                }
            };

            // const url = "https://raw.githubusercontent.com/yrom1/strava-rest/main/plot.json"
            // const jira_r = fetch(url)
            //     .then((response) => response.json())
            //     .then((x) => {
            //         return x;
            //     });
            // let jira_json = await jira_r;
            const strava_json = JSON.parse(JSON.parse({{ strava_json|tojson|safe }}));
            trace1.x = Object.values(strava_json.date);
            trace1.y = Object.values(strava_json.value);

            const days_since_last_run = trace1.y.slice().reverse().findIndex((x) => x > 0);

            var layout = {
                title: days_since_last_run.toString() + " Days Since Last Run",
                font: { size: 14, color: TEXT },
                // xaxis: { title: { text: "Date" } },
                yaxis: { title: { text: "Distance Ran (km)" }, gridcolor: "rgba(0,0,0,0)" },
                xaxis: { gridcolor: "rgba(0,0,0,0)" },
                paper_bgcolor: "rgba(0,0,0,0)",
                plot_bgcolor: "rgba(0,0,0,0)",
                height: HEIGHT,
                // color: '#7f7f7f'
            };

            var config = { responsive: true }
            var data = [trace1];
            Plotly.newPlot('strava', data, layout, config);
            window.dispatchEvent(new Event('resize'));

        })();

        // leetcode plot
        (async function () {
            let [BACKGROUND, TEXT, LINK] = ["", "", ""];
            if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                // dark theme
                [BACKGROUND, TEXT, LINK] = [DARK_COLOR, LIGHT_COLOR, LIGHT_LINK_COLOR];
            } else {
                // light theme
                [BACKGROUND, TEXT, LINK] = [LIGHT_COLOR, DARK_COLOR, DARK_LINK_COLOR];
            }
            // const url = "https://raw.githubusercontent.com/yrom1/yrom1/main/plot.json"
            // const jira_r = fetch(url)
            //     .then((response) => response.json())
            //     .then((x) => {
            //         return x;
            //     });
            // let jira_json = await jira_r;
            const leetcode_json = JSON.parse(JSON.parse({{ leetcode_json|tojson|safe }}));

            var trace1 = {
                type: 'scatter',
                name: 'Python',
                marker: {
                    color: LINK,
                    line: {
                        width: 2.5
                    }
                }
            };
            trace1.x = Object.values(leetcode_json.py_dates);
            trace1.y = Object.values(leetcode_json.py_ranks);

            var trace2 = {
                type: 'scatter',
                name: 'SQL',
                marker: {
                    color: 'orange',
                    line: {
                        width: 2.5
                    }
                }
            };
            trace2.x = Object.values(leetcode_json.sql_dates);
            trace2.y = Object.values(leetcode_json.sql_ranks);

            let py_rank = trace1.y.slice();
            let sql_rank = trace2.y.slice();

            let py_start = py_rank.slice(-7)[0]
            let sql_start = sql_rank.slice(-7)[0]

            let num_questions = (py_rank.slice(-1)[0] - py_start) + (sql_rank.slice(-1)[0] - sql_start)

            var layout = {
                title: num_questions.toString() + " LeetCode Questions this Week",
                font: { size: 14, color: TEXT },
                // xaxis: { title: { text: "Date" } },
                height: HEIGHT,
                yaxis: { title: { text: "# Completed Questions" }, gridcolor: "rgba(0,0,0,0)" },
                xaxis: { gridcolor: "rgba(0,0,0,0)" },
                paper_bgcolor: "rgba(0,0,0,0)",
                plot_bgcolor: "rgba(0,0,0,0)",
            };

            var config = { responsive: true }
            var data = [trace1, trace2];
            Plotly.newPlot('leetcode', data, layout, config);
            window.dispatchEvent(new Event('resize'));

        })();

        // jira plot
        (async function () {
            let [BACKGROUND, TEXT, LINK] = ["", "", ""];
            if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                // dark theme
                [BACKGROUND, TEXT, LINK] = [DARK_COLOR, LIGHT_COLOR, LIGHT_LINK_COLOR];
            } else {
                // light theme
                [BACKGROUND, TEXT, LINK] = [LIGHT_COLOR, DARK_COLOR, DARK_LINK_COLOR];
            }
            var trace1 = {
                type: 'bar',
                marker: {
                    color: LINK,
                }
            };

            // const url = "https://raw.githubusercontent.com/yrom1/jira-python/main/plot.json"
            // const jira_r = fetch(url)
            //     .then((response) => response.json())
            //     .then((x) => {
            //         return x;
            //     });
            // let jira_json = await jira_r;
            const jira_json = JSON.parse(JSON.parse({{ jira_json|tojson|safe }}));

            trace1.x = Object.values(jira_json.date);
            trace1.y = Object.values(jira_json.value);

            var layout = {
                title: (trace1.y[trace1.y.length - 1]).toString() + " Jira Issues Completed Today",
                font: { size: 14, color: TEXT },
                height: HEIGHT,
                yaxis: { title: { text: "# Completed Issues" }, gridcolor: "rgba(0,0,0,0)" },
                xaxis: { gridcolor: "rgba(0,0,0,0)" },
                paper_bgcolor: "rgba(0,0,0,0)",
                plot_bgcolor: "rgba(0,0,0,0)",
            };

            var config = { responsive: true }
            var data = [trace1];
            Plotly.newPlot('jira', data, layout, config);
            window.dispatchEvent(new Event('resize'));

        })();
    </script>

    <footer class="head">
        <hr />
        <h2>
            <a href="mailto:ryanm.inbox@gmail.com">ryanm.inbox@gmail.com</a>
            |
            <a href="http://github.com/yrom1">github.com/yrom1</a>
        </h2>
        <img alt="credit: Jean-Pol GRANDMONT" class="ginkgo" src="/static/trees.jpg" />
    </footer>
</body>

</html>
