<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link href="/static/ginkgo.png" rel="icon" type="image/png" />
    <title>
        Ryan's website.
    </title>
    <link href="/static/styles.css" rel="stylesheet" />

    <!-- START PREVIEW -->
    <!-- Open Graph -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://yrom1.ca/">
    <meta property="og:title" content="Ryan's website.">
    <meta property="og:description" content="Personal dashboard">
    <meta property="og:image" itemprop="image"
        content="https://raw.githubusercontent.com/yrom1/opengraph-preview/main/preview.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://yrom1.ca/">
    <meta property="twitter:title" content="Ryan's website.">
    <meta property="twitter:description" content="Personal dashboard">
    <meta property="twitter:image" content="https://raw.githubusercontent.com/yrom1/opengraph-preview/main/preview.png">
    <!-- END PREVIEW -->
    {{ head }}
</head>

<body>
    <header class="head">
        <img alt="credit: Jean-Pol GRANDMONT" class="ginkgo" src="/static/trees.jpg" />
        <h1>Ryan's website.</h1>
        <h2>
            <a href="{{ url_for('about') }}">about me</a>
            |
            <a href="{{ url_for('dashboard') }}">dashboard</a>
            |
            <a href="{{ url_for('mypandas') }}">mypandas</a>
            |
            <a href="{{ url_for('ty') }}">ty</a>
            |
            <a href="{{ url_for('exlog') }}">exlog</a>
            |
            <a href="{{ url_for('postgrespy') }}">postgrespy</a>
            |
            <a href="{{ url_for('fun') }}">fun</a>
        </h2>
        <hr />
    </header>

    {{ content }}

    <footer class="head">
        <hr />
        <h2>
            <a href="mailto:ryanm.inbox@gmail.com">ryanm.inbox@gmail.com</a>
            |
            <a href="http://github.com/yrom1">github.com/yrom1</a>
        </h2>
        <img alt="credit: Jean-Pol GRANDMONT" class="ginkgo" src="/static/trees.jpg" />
    </footer>
</body>

</html>
