<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link href="/static/ginkgo.png" rel="icon" type="image/png" />
    <title>
        {{ title }}
    </title>
    <link href="/static/styles.css" rel="stylesheet" />

    <!-- START PREVIEW -->
    <!-- Open Graph -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://yrom1.ca/">
    <meta property="og:title" content="Ryan's website.">
    <meta property="og:description" content="Personal dashboard">
    <meta property="og:image" itemprop="image"
        content="https://raw.githubusercontent.com/yrom1/opengraph-preview/main/opengraph.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://yrom1.ca/">
    <meta property="twitter:title" content="Ryan's website.">
    <meta property="twitter:description" content="Personal dashboard">
    <meta property="twitter:image"
        content="https://raw.githubusercontent.com/yrom1/opengraph-preview/main/opengraph.png">
    <!-- END PREVIEW -->
    {{ head }}
</head>

<body>
    <header class="head">
        <img alt="credit: Jean-Pol GRANDMONT" class="ginkgo" src="/static/trees.jpg" />
        <h1>Ryan Moore</h1>
        <h2>
            <a href="{{ url_for('about') }}">about me</a>
            |
            <a href="{{ url_for('dashboard') }}">dashboard</a>
            |
            <a href="{{ url_for('mypandas') }}">mypandas</a>
            |
            <a href="{{ url_for('ty') }}">ty</a>
            |
            <a href="{{ url_for('exlog') }}">exlog</a>
            |
            <a href="{{ url_for('postgrespy') }}">postgrespy</a>
            |
            <a href="{{ url_for('fun') }}">fun</a>
        </h2>
        <hr />
    </header>

    {{ content }}
    <div id="jira"></div>

    <footer class="head">
        <hr />
        <h2>
            <a href="mailto:ryanm.inbox@gmail.com">ryanm.inbox@gmail.com</a>
            |
            <a href="http://github.com/yrom1">github.com/yrom1</a>
        </h2>
        <img alt="credit: Jean-Pol GRANDMONT" class="ginkgo" src="/static/trees.jpg" />
    </footer>

    <!-- d3 START -->

    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script>

        // set the dimensions and margins of the graph
        var margin = { top: 20, right: 20, bottom: 30, left: 40 },
            width = 1000 - margin.left - margin.right,
            height = 250 - margin.top - margin.bottom;

        // set the ranges
        var x = d3.scaleBand()
            .range([0, width])
            .padding(0.1);
        var y = d3.scaleLinear()
            .range([height, 0]);

        // append the svg object to the body of the page
        // append a 'group' element to 'svg'
        // moves the 'group' element to the top left margin
        var svg = d3.select("#jira").append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform",
                "translate(" + margin.left + "," + margin.top + ")");

        // get the data
        d3.csv("/static/jira.csv", function (error, data) {
            if (error) throw error;

            // format the data
            data.forEach(function (d) {
                d.sales = +d.sales;
            });

            // Scale the range of the data in the domains
            x.domain(data.map(function (d) { return d.date; }));
            y.domain([0, d3.max(data, function (d) { return d.issue_count; })]);

            // append the rectangles for the bar chart
            svg.selectAll(".bar")
                .data(data)
                .enter().append("rect")
                .attr("class", "bar")
                .attr("x", function (d) { return x(d.date); })
                .attr("width", x.bandwidth())
                .attr("y", function (d) { return y(d.issue_count); })
                .attr("height", function (d) { return height - y(d.issue_count); });

            // add the x Axis
            svg.append("g")
                .attr("transform", "translate(0," + height + ")")
                .call(d3.axisBottom(x));

            // add the y Axis
            svg.append("g")
                .call(d3.axisLeft(y));

        });

    </script>

    <!-- d3 END -->
</body>

</html>
